<div class="friends">
  <h3 class="friends__header">Tet-a-tet</h3>
  <a href="" class="friends__more-button">
    <mat-icon>more_vert</mat-icon>
  </a>
  <ul class="friends__list">
    <li class="friends__item" *ngFor="let friend of friendList; index as i;">
      <a (click)="goToChat(friend._id)" class="friends__chat-link">
        <div class="friends__online" [ngClass]="{friends__online:friend.isActive}">
          <img class="friends__thumbnail"
            src="{{friend.thumbnail ? 'data:image/png;base64,' + friend.thumbnail: 'https://i.ibb.co/JKprpxL/images.jpg'}}"
            alt="Your best friend face" width="52" height="52">
        </div>
        <div class="friends__item-text">
          <b class="friends__name">{{getFriend(friend)}}</b>
          <p class="friends__last-active">{{friend.lastActive? 'friend.lastActive' : 'Unknown'}}</p>
          <p class="friends__last-message">{{friend.lastMessage? 'friend.lastActive' : 'Here will be last message'}}</p>
        </div>
      </a>
    </li>
  </ul>
</div>
