<div class="profile-settings">
	<div class="profile-settings__title">
	  <span>
		Profile settings
	  </span>
	</div>
	<div class="profile-settings__user-info">
	  <div class="profile-settings__user-info_img">
		<img  *ngIf="!!profileData.avatar"  [src]="profileData.avatar" alt="user pic" />
	  </div>
	  <div class="profile-settings__user-info_name" >
		<span class="profile-settings__user-info_name_username">
		  	{{ profileData.username }}
		</span>
		<span class="profile-settings__user-info_name_status">
		  	{{ profileData.status }}
		</span>
		<span class="profile-settings__user-info_name_status">
			{{ profileData.email }}
		</span>
		<span class="profile-settings__user-info_name_status">
		  	{{ profileData.about }}
		</span>
	  </div>
	</div>
	<div class="profile-settings__line"></div>
		<div class="profile-settings__menu">
			<div class="profile-settings__menu_item">
				<div class="profile-settings__menu_item_name contacts">
					<div  class="profile-settings__menu_item_name_wrp">
						<mat-icon>{{ "help_outline" }}</mat-icon>
						<div class="profile-settings__menu_item_title" (click)="lookContacts = !lookContacts">Contacts</div>
					</div>
					<div *ngIf="lookContacts && contacts.length > 0">
						<div *ngFor="let contact of contacts" class="contacts__list" (click)="watchProfile(contact)">
							<!-- <div class="profile-settings__user-info profile-settings__user-info_img">
								<img [src]='contact.avatar' alt="user pic" />
							  </div> -->
							  <p >{{contact.username}}</p>
							  <!-- <button class="chat-btn">Chat</button>
							  <button class="del-btn">Delete</button> -->
						</div>
					</div>
					<!-- <ul *ngFor="let contact of contacts">
						<li *ngIf="lookContacts"> -->
							<!-- <div class="profile-settings__user-info profile-settings__user-info_img">
								<img [src]='contact.avatar' alt="user pic" />
							  </div> -->
							<!-- <p (click)="watchProfile()">{{contact.username}}</p>
							<button>Chat</button>
							<button>Delete</button>
						</li>
					</ul> -->
				</div>
			</div>
			<div class="profile-settings__menu_item" *ngFor="let item of settingsList; let i = index" [ngClass]="{'profile-settings__menu_item_disabled':item.description == 'null'}">
				<div class="profile-settings__menu_item_name">
					<mat-icon>{{ item.icon }}</mat-icon>
					<div class="profile-settings__menu_item_title" 
						 (click)="[onSelect(item), toggle = !toggle]" 
						 [class.selected]="item === selectedItem">
						 {{ item.title }}
					</div>
				</div>
				<div *ngIf="toggle && selectedItem.id == i+1" class="profile-settings__menu_item_form-field">

					<div *ngIf="item.id != 3; else photoInput">

						<mat-form-field appearance="fill">
							<mat-label>{{selectedItem.title}}</mat-label>
							<input matInput color='warn' type="text" id={{item.id}} value={{item.description}} #input>
							<!-- <textarea name="" id="" cols="30" rows="10" value={{item.description}}></textarea> -->
						</mat-form-field>

						<div class="form-field__btn-wrapper">
							<button mat-raised-button color="primary" (click)="[addToFormData(input), toggle = !toggle]">
								<mat-icon>done</mat-icon>
							</button>
							<button mat-raised-button color="warn" (click)="toggle = !toggle">
								<mat-icon>close</mat-icon>
							</button>
						</div>

					</div>

					<ng-template #photoInput>

						<div class="form-field">
							<input type="file" id="fileElem" multiple accept="image/*" (change)="onFileInputChange($event)" #input>
							<label for="fileElem" [ngClass]="{'form-field__input_active': imgInput === true}">Выберите картинку</label>
						</div>

						<div class="form-field__btn-wrapper">
							<button mat-raised-button color="primary" (click)="[addImage(input), toggle = !toggle]">
								<mat-icon>done</mat-icon>
							</button>
							<button mat-raised-button color="warn" (click)="toggle = !toggle">
								<mat-icon>close</mat-icon>
							</button>
						</div>

					</ng-template>
						
				</div>
			</div>
			<!-- <div class="profile-settings__menu_item">
				<div class="profile-settings__menu_item_name">
					<mat-icon>{{ "help_outline" }}</mat-icon>
					<div class="profile-settings__menu_item_title" (click)="lookContacts = !lookContacts">Contacts</div>
					<ul *ngFor="let contact of contacts">
						<li *ngIf="lookContacts">
							<div class="profile-settings__user-info profile-settings__user-info_img">
								<img src={{contact.avatar}} alt="user pic" />
							  </div>
							<p (click)="watchProfile()">{{contact.username}}</p>
							<button>Chat</button>
							<button>Delete</button>
						</li>
					</ul>
				</div>
			</div> -->
			<div class="profile-settings__menu_item">
				<div class="profile-settings__menu_item_name">
					<mat-icon>{{ "help_outline" }}</mat-icon>
					<div class="profile-settings__menu_item_title" (click)="openDialog()">Help</div>
				</div>
			</div>
			<form (ngSubmit)="submit()" *ngIf="!errorMsg; else errorMessage">
				<!-- <button mat-raised-button color="primary" type="submit">Save Changes</button> -->
				<button mat-raised-button color="primary" type="submit" [disabled]="!lengthForm()">Save Changes</button>
			</form>
			<ng-template #errorMessage>
				<div class="profile-settings__menu_error">
					{{errorMsg}}
				</div>
			</ng-template>
		</div>
	<div class="profile-settings__line"></div>
	<div class="profile-settings__menu">
		<div class="profile-settings__menu_item" (click)="settServ.switchSettings()">
			<div class="profile-settings__menu_item_name">
				<mat-icon>{{ "account_circle" }}</mat-icon>
				<div class="profile-settings__menu_item_title">Account settings</div>
			</div>
		</div>
	</div>
	<div class="profile-settings__footer">WB School Chat</div>
  </div>