.password-modal__wrapper {
	mat-dialog-content {
		display: flex;
		flex-direction: column;
	}
	.password-modal__wrapper_err-msg {
		width: 90%;
		background:rgb(255, 65, 65);
		text-align: center;
		height: 40px;
		border-radius: 12px;
		color: white;
		margin: 0 auto;
		font-size: 18px;
		line-height: 40px;
	}
	mat-dialog-actions {
		button:disabled {
			background: rgb(134, 134, 134);
			color: rgb(71, 71, 71);
		}
		.psw-change-btn {
			background: rgb(105, 247, 255);
			color: white;
		}
	}
}

.psw-changed {
	width: 250px;
}