<div class="password-modal__wrapper" *ngIf="!pswChanged; else changeAnim">
	<h2 mat-dialog-title>Смена пароля</h2>
	<mat-dialog-content class="mat-typography" [formGroup]="form">

		<mat-form-field appearance="fill">
			<mat-label>Старый пароль</mat-label>
			<input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'oldPsw'" class='old-psw-input' required>
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
			  	<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error *ngIf="isControlInvalid('oldPsw')">Невалидное значение</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Новый пароль</mat-label>
			<input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'newPsw'" class='new-psw-input'required>
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
			  	<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error *ngIf="isControlInvalid('newPsw')">Невалидное значение</mat-error>
		</mat-form-field>

	</mat-dialog-content>
	<div *ngIf="errStat" class="password-modal__wrapper_err-msg">
		<p>Неверный пароль!</p>
	</div>
	<mat-dialog-actions align="end">
		<button mat-raised-button color="primary" type="submit" class="psw-change-btn" (click)="submitNewPsw()" [disabled]="!form.valid">Сменить</button>
		<button mat-raised-button color="warn" mat-dialog-close color="warn" class="close-btn">Закрыть</button>
	</mat-dialog-actions>
</div>
<ng-template class="psw-changed" #changeAnim>
	<h2 mat-dialog-title>Вы изменили пароль!</h2>
	<mat-dialog-content class="mat-typography">
		<p>Не забудьте записать его на бумажку и повесить перед монитором</p>
	</mat-dialog-content>
</ng-template>