.password-modal__wrapper {
	mat-dialog-content {
		display: flex;
		flex-direction: column;
	}
	.password-modal__wrapper_err-msg {
		width: 90%;
		background:rgb(255, 65, 65);
		text-align: center;
		height: 40px;
		border-radius: 12px;
		color: white;
		margin: 0 auto;
		font-size: 18px;
		line-height: 40px;
	}
	mat-dialog-actions {
		button:disabled {
			background: rgb(134, 134, 134);
			color: rgb(71, 71, 71);
		}
		.psw-change-btn {
			background: rgb(105, 247, 255);
			color: white;
		}
	}
}

.psw-changed {
	width: 250px;
}


// mat-icon-stepper selected color change 
::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: red!important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: red!important;
    opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: red!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: red!important;
    opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: rgb(0, 0, 0)!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: red!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: red!important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red!important;
}