$section-background: white;

/*Break-points*/
$min-width: 320px;
$mobile-width: 495px;
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width: 1440px;

.notificatons-page__wrapper {
  padding: 10px 0;
  min-width: $min-width;
  max-width: $desktop-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto);
  gap: 30px;

  @media (min-width: $tablet-width) {
    padding: 20px 0;
  }
  @media (min-width: $desktop-width) {
    padding: 30px 0;
  }
}

.notificatons-page__search {
  grid-row: 1/2;
  grid-column: 1/2;
}

.notificatons-page__notifications {
  grid-row: 2/3;
  grid-column: 1/2;
}
