<!--<nav class="nav">
  <ul class="nav__list">
    <li class="nav__list-item nav__list-link">
      <mat-icon (click)="openGroup()">group</mat-icon>
    </li>
    <li class="nav__list-item nav__list-link">
      <mat-icon (click)="openTetATet()">mail outline</mat-icon>
    </li>
    <li *ngIf="changeState.hasThreadsInNavMobile" class="nav__list-item nav__list-link">
      <mat-icon (click)="openThreads()">add_comment</mat-icon>
    </li>
  </ul>
</nav>-->

<nav class="nav">
  <ul class="nav__list">
    <li class="nav__list-item nav__list-link">
      <label for="groups">
        <mat-icon>group</mat-icon>
      </label>
    </li>
    <li class="nav__list-item nav__list-link">
      <label for="privates">
        <mat-icon>mail outline</mat-icon>
      </label>
    </li>
    <li class="nav__list-item nav__list-link">
      <label for="threads">
        <mat-icon>add_comment</mat-icon>
      </label>
    </li>
  </ul>
</nav>
