<div class="message__wrapper" #wrapper>
    <div *ngFor="let item of data"
        [ngClass]="item.owner === myId ? 'message__wrapperBlue' : 'message__wrapperGrey'">
        <span *ngIf="item.owner === myId">{{myUserName}}</span>
        <div class="message__user" [ngClass]="item.owner === myId ? 'message__answer' : 'message__user'" [matMenuTriggerFor]="block">
            <div>
                <img *ngIf="!!item.imageOrFile" [src]="item.formatImage+item.imageOrFile" alt="" class="message__img">
                <img *ngIf="itemFormat(item.text)" src={{item.text}} alt="" class="message__img">
                <p class="message__text" *ngIf="!itemFormat(item.text)">{{item.text}}</p>
            </div>
        </div>
        <span>{{item.expiresIn | date:'yyyy/MM/dd h:mm:ss a'}}</span>
        <!-- <a class="comments" href="#">#comments</a> -->

        <mat-menu #block="matMenu">
            <button (click)="deleteMessage(item._id)" mat-menu-item>
                <span>Удалить</span>
            </button>
            <button (click)="getMessage(item._id,item.text)" mat-menu-item>
                <span>Изменить</span>
            </button>
        </mat-menu>
</div>
</div>
