<div class="password-modal__wrapper">
	<h2 mat-dialog-title>Смена пароля</h2>
	<mat-dialog-content class="mat-typography" [formGroup]="form">

		<mat-form-field appearance="fill">
			<mat-label>Старый пароль</mat-label>
			<input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'oldPsw'" required>
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
			  	<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Новый пароль</mat-label>
			<input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'newPsw'" required>
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
			  	<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
		</mat-form-field>

		<mat-form-field appearance="fill">
			<mat-label>Новый пароль еще раз</mat-label>
			<input matInput [type]="hide ? 'password' : 'text'" [formControlName]="'newPswAgain'" required>
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
			  	<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
		</mat-form-field>

	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button type="submit" class="psw-change-btn" (click)="submitNewPsw()" [disabled]="!form.valid && btnValidation()">Сменить</button>
		<button mat-button mat-dialog-close color="warn" class="close-btn">Закрыть</button>
	</mat-dialog-actions>
</div>