<nav class="nav">
    <ul class="nav__list">
        <li class="nav__list-item nav__list-link">
          <mat-icon (click)="openGroup()">group</mat-icon></li>
        <li class="nav__list-item nav__list-link">
          <mat-icon (click)="openUnreadMess()">mail outline</mat-icon>
        </li>
        <li class="nav__list-item nav__list-link">
          <mat-icon (click)="openTetATet()">message</mat-icon>
        </li>
        <li *ngIf="changeState.hasThreadsInNavButtom" class="nav__list-item nav__list-link">
          <mat-icon (click)="openThreads()">add_comment</mat-icon>
        </li>
    </ul>
  </nav>
  