<mat-card class="groups">
    <mat-card-header class="groups__header">
        <mat-card-title class="groups__title">
            <h2>Groups</h2>
        </mat-card-title>
        <mat-icon class="groups__menu">more_vert</mat-icon>
    </mat-card-header>
    <mat-card-content class="groups__list">
        <div class="groups__item">
            <img class="groups__img" src="/assets/images/img.svg" alt="Аватар пользователя">
            <div class="groups__info">
                <h2>Friends Reunion</h2>
                <p>Hi Guys, Wassup!</p>
            </div>
        </div>
        <div class="groups__item">
            <img class="groups__img" src="/assets/images/img2.svg" alt="Аватар пользователя">
            <div class="groups__info">
                <h2>Friends Forever</h2>
                <p>Good to see you.</p>
            </div>
        </div>
        <div class="groups__item">
            <img class="groups__img" src="/assets/images/img3.svg" alt="Аватар пользователя">
            <div class="groups__info">
                <h2>Crazy Cousins</h2>
                <p>What plans today?</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>