
$main-text-color: #000000;
$box-shadow: rgba(0, 0, 0, 0.25);
$background-color: #FFFFFF;
$last-message-color: rgba(77, 77, 77, 0.75);
$last-active-color: rgba(0, 0, 0, 0.5);
$divider: rgba(0, 0, 0, 0.25);
$main-blue: #1A66FF;
$thumbnail-size: 52px;

.groups {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  * {
    box-sizing: border-box;
  }

  &__header {
    padding: 0;
    color: $main-text-color;
  }

  &__is-no-groups {
    margin: 0;
  }

  &__more-button {
    color: $main-blue;
    cursor: pointer;
  }

  &__more-button:hover {
    opacity: 0.7;
  }

  &__list {
    max-height: 302px;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
  }

  &__item {
    min-height: 72px;
    max-height: fit-content;
    display: flex;
    height: fit-content;
    border-bottom: 1px solid $divider;
    cursor: pointer;
  }

  &__item-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
  }

  &__item:last-child {
    border-bottom: none;
  }

  &__thumbnail {
    border-radius: 50%;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.25);
  }

  &__chat-link {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: none;
  }

  &__chat-link:hover {
    opacity: 0.7;
  }

  &__name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $main-text-color;
  }

  &__last-message {
    position: relative;
    margin: 0;
    width: 100%;
    max-height: 30px;
    overflow: hidden;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: $last-message-color;
  }

  &__last-message-text {
    display: block;
    max-width: 80%;
  }
}
