.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;


    &__info {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    button {
      border: none;
      background: none;
      margin: 0;
      padding: 0;
    }

    &__avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      position: relative;
      margin-right: 33px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      .avatar_img{
        border-radius: 50%;
      }

      span {
        position: absolute;
        background: #00FF75;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        right: 0;
        bottom: -2px;
        border: 2px solid white;

        @media (max-width: 495px) {
          bottom: 1px;
        }
      }

      @media (max-width: 495px) {
        width: 70px;
        height: 70px;
        margin-right: 10px;


        span {
          width: 15px;
          height: 15px;
        }

        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
      }
    }

    &__name {
      p {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin: 0;
      }

      span {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.85);
      }

      @media (max-width: 495px) {
        p {
          font-size: 24px;
          margin: 0;
          line-height: 36px;
        }

        span {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }
    }

    &__icon {
        position: relative;
      .phone {
        width: 25px;
        height: 20px;
        margin-right: 46px;
        filter: grayscale(100);
      }

      .menu {
        width: 5px;
        height: 25px;
        color: #1A66FF;
        cursor: pointer;

        :hover{
          opacity: 0.7;
        }
      }

      @media (max-width: 495px) {
        .phone {
          width: 25px;
          height: 20px;
          top: 2px;
          right: 10px;
          position: absolute;
        }

        .menu {
          width: 3px;
          height: 25px;
        }
      }
    }

    @media (max-width: 1023px) {
      margin-bottom: 16px;
    }

    @media (max-width: 495px) {
      margin-bottom: 4px;
    }
  }
