<div class="header">
    <div class="header__info">
        <div class="header__avatar">
            <img [src]="imgAva" alt="avatar" width="76px" height="75px">
            <span></span>
        </div>
        <div class="header__name">
            <p class="name">{{name}}</p>
            <span>Online</span>
        </div>
    </div>

    <div class="header__icon">
        <a><img src="../../assets/icon-phone.svg" alt="phone" class="phone" width="20px" height="20px" ></a>
        <a [matMenuTriggerFor]="blockMenu" class="menu"><mat-icon>more_vert</mat-icon></a>
            <mat-menu #blockMenu="matMenu" >
                <button (click)="deleteChat()" mat-menu-item>
                  <span>Очистить чат</span>
                </button>
            </mat-menu>
    </div>
</div>