<header *ngIf="chatInfo$ | async as chatInfo" class="header">
    <section  class="header__info">
        <div class="header__avatar">
            <img [src]="chatInfo.avatar || '/assets/not-found.png'" alt="avatar" width="76px" height="75px" class="avatar_img">
                <span *ngIf="chatInfo.users.length === 2 "></span>
        </div>
            <div class="header__name" *ngIf="user$ |async as user">
                <p class="name" *ngIf="chatInfo.usernames[0] === user.username">{{chatInfo.usernames[1]}}</p>
                <p class="name" *ngIf="chatInfo.usernames[1] === user.username">{{chatInfo.usernames[0]}}</p>
                <span *ngIf="chatInfo.users.length === 2">Online</span>
            </div>
    </section>

    <section class="header__icon">
        <mat-icon class="phone" width="20px" height="20px"> call</mat-icon>
        <a [matMenuTriggerFor]="blockMenu" class="menu">
            <mat-icon>more_vert</mat-icon>
        </a>
        <mat-menu #blockMenu="matMenu">
            <button (click)="deleteChat(chatInfo._id)" mat-menu-item>
                <span>Очистить чат</span>
            </button>
            <button (click)="getModalWindow(chatInfo)" *ngIf="chatInfo.users.length > 2"  mat-menu-item>
                <span>Редактировать чат</span>
            </button>
        </mat-menu>
    </section>
</header>