
        <div class="message">
                <div class="message__wrapper" #wrapper >
                    <div *ngFor="let item of messages$ | async " 
                        [ngClass]="item.owner === myId ? 'message__wrapperBlue' : 'message__wrapperGrey'">
                        <span *ngIf="item.owner === myId">{{userName}}</span>
                        <span *ngIf="item.owner !== myId ">{{(item.username)}}</span>
                        <div  [ngClass]="item.owner === myId ? 'message__answer' : 'message__user'"  [matMenuTriggerFor]="block">
                            <div>
                                <img *ngIf="!!item.imageOrFile" [src]="item.formatImage+item.imageOrFile" alt="youImgSend" class="message__img">

                                <img *ngIf="itemFormat(item.text)" [src]="item.text" alt="img-send" class="message__img">
                                <p class="message__text" *ngIf="!itemFormat(item.text)">{{item.text}}</p>
                            </div>
                        </div>
                        <span>{{item.expiresIn | date:'dd/MM/yyyy h:mm:ss '}}</span>

                        <mat-menu #block="matMenu">
                            <button (click)="deleteMessage(item._id!)" mat-menu-item>
                                <span>Удалить</span>
                            </button>
                            <button (click)="getMessage(item._id! ,item.text)" mat-menu-item>
                                <span>Изменить</span>
                            </button>
                        </mat-menu>
                </div>
            </div> 
            <hr>
            <div class="message__send">
                    <div>
                        <div class="form_save_image" *ngIf="toggle">
                            <input class="inp-file"  type="file" id="fileElem" multiple accept="image/*" #input>
                            <label for="fileElem" class="btn-add">Выберите файл</label>
                            <div class="btn-wrapper">
                            <button type="button" class="btn-green" (click)="[addImage(input), toggle = !toggle]">V</button>
                            <button type="button" class="btn-red" (click)="[toggle = !toggle, imageOrFile = '']">X</button>
                            </div>

                        </div> 
                    </div>
                    <div class="wrapper__send">
                        <div (click)="toggle = !toggle">
                            <img src="../../assets/icon-send.svg" alt="icon-send" class="btn" width="14px" height="13px">
                        </div>
                        <input type="text" [formControl]="message" (keydown)="sendMessage()">
                        <img src="../../assets/icon-smile.svg" alt="icon-smile" width="15px" height="15px" class="smile">
                        <img src="../../assets/icon-photo.svg" alt="icon-photo" class="photo" width="19px" height="15px">
                    </div>
                        <img src="../../assets/icon-voice.svg" alt="icon-voice" class="voice" width="45px" height="45px">
                </div>
        </div>
