<section class="message">
  <ul class="message__wrapper" #wrapper>
    <li *ngFor="let item of messages$ | async"
      [ngClass]="item.owner === myId ? 'message__wrapperBlue' : 'message__wrapperGrey'">
      <div class="message__message-info">
        <span *ngIf="item.owner === myId">{{userName}}</span>
        <span *ngIf="item.owner !== myId" (click)="openProfile(item.username!)">{{(item.username)}}</span>
        <span>{{item.expiresIn | date:'dd/MM/yyyy HH:mm:ss'}}</span>
      </div>
      <div [ngClass]="item.owner === myId ? 'message__answer' : 'message__user'" [matMenuTriggerFor]="block">
        <ng-container *ngIf="separateTheLink(item.text) as messObj" >
          <img *ngIf="messObj.url || !!item.imageOrFile"
            [src]="!!item.imageOrFile? item.formatImage+item.imageOrFile : messObj.url" alt="img-send"
            class="message__img">
          <p class="message__text" >{{messObj.text}}</p>
        </ng-container>
      </div>
      <a class="message__thread" (click)="openThreadComponent(item)">Comments</a>
      <mat-menu #block="matMenu">
        <button (click)="deleteMessage(item._id!)" mat-menu-item>
          <span>Удалить</span>
        </button>
        <button (click)="getMessage(item._id! ,item.text)" mat-menu-item>
          <span>Изменить</span>
        </button>
      </mat-menu>
    </li>
  </ul>
  <hr>
  <form class="message__send">
    <ng-container *ngIf="!isEditMessage">
      <div class="form_save_image" *ngIf="toggle">
        <input class="inp-file" type="file" id="fileElem" multiple accept="image/*" (change)="onImgAdd()" #input>
        <label for="fileElem" class="btn-add" [ngClass]="{'btn-add__active': imgInput == true}">
          {{ !imgInput ? "Выберите файл" : "Файл выбран" }}
        </label>

        <div class="btn-wrapper">
          <button type="button" class="btn-green" [disabled]="input.value.length === 0"
            (click)="greenBtnClick(input)">V</button>
          <button type="button" class="btn-red" (click)="redBtnClick()">X</button>
        </div>
      </div>
    </ng-container>
    <div class="wrapper__send">
      <div (click)="toggle = !toggle">
        <mat-icon class="btn" width="14px" height="13px"> attach_file</mat-icon>
      </div>
      <input type="text" [formControl]="message" (keydown.enter)="sendMessage()" #input
        [ngClass]="{'input__link': itemFormat(input.value)}">
      <div class="smile__more" #blockTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu" yPosition="above">
          <app-smile></app-smile>
        </mat-menu>
        <mat-icon>tag_faces</mat-icon>
      </div>
      <!-- <mat-icon class="photo" width="19px" height="15px">photo_camera</mat-icon> -->
    </div>
    <mat-icon class="voice" width="45px" height="45px">mic</mat-icon>
  </form>

</section>
