
.searchbar {
	height: 59px;
	display: flex;
	flex-direction: row;
	form {
		width: calc(100% - 99px);
		margin: 17px 0;
	}
	input {
		width: 100%;
		font-size: 16px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0;
		text-align: left;
		border: none;
		outline: none;

		&::placeholder {
			color: rgba(61, 61, 61, 0.35);
		}
	}

	&__search-icon {
		height: 19px;
		width: 19px;
		margin: 20px 23px;
		cursor: pointer;
	}

	&__menu-wrapper {
		padding: 0;
		border-radius: 20px;

		&__menu-wrapper_more-icon {
			color: #1A66FF;
			height: 24px;
			margin: 17.5px 22px;
		}
	}
}
