<!-- DELETE ON PROD -->
<!-- <button (click)="changeOutput()" mat-button color="primary">Изменить вывод</button> -->
<!-- DELETE ON PROD -->
<div class="profile-settings">
	<div class="profile-settings__title">
		<span>
			Profile settings
		</span>
	</div>
	<div class="profile-settings__user-info">
		<div class="profile-settings__user-info_img">
			<img src={{pictureSrc}} alt="user pic" />
		</div>
		<div class="profile-settings__user-info_name" >
			<span class="profile-settings__user-info_name_username">
				{{name}}
			</span>
			<span class="profile-settings__user-info_name_status">
				{{status}}
			</span>
		</div>
	</div>
	<div class="profile-settings__line"></div>
	<div class="profile-settings__info">
		<div class="profile-settings__menu" >
			<div class="profile-settings__menu_item" *ngFor="let item of settingsList" (click)="click(item.title)">
				<mat-icon>{{ item.icon }}</mat-icon>
				<div class="profile-settings__menu_item_title">{{ item.title }}</div>
			</div>
		</div>
	</div>
	<div class="profile-settings__footer">
		WB School Chat
	</div>
</div>