<!-- DELETE ON PROD -->
<!-- <button (click)="changeOutput()" mat-button color="primary">Изменить вывод</button> -->
<!-- DELETE ON PROD -->
<div class="profile-settings">
	<div class="profile-settings__title">
		<span>
			Profile settings
		</span>
	</div>
	<div class="profile-settings__user-info">
		<div class="profile-settings__user-info_img">
			<img src={{pictureSrc}} alt="user pic" />
		</div>
		<div class="profile-settings__user-info_name" >
			<span class="profile-settings__user-info_name_username">
				{{name}}
			</span>
			<span class="profile-settings__user-info_name_status">
				{{status}}
			</span>
			<span class="profile-settings__user-info_name_status">
				{{description}}
			</span>
		</div>
	</div>
	<div class="profile-settings__line"></div>
	<div class="profile-settings__info" *ngIf="output else settings">
		<div class="profile-settings__menu" >
			<div class="profile-settings__menu_item" *ngFor="let item of profileInfoList">
				<mat-icon>{{ item.icon }}</mat-icon>
				<div class="profile-settings__menu_item_title">{{ item.title }}</div>
			</div>
		</div>
	</div>
	<ng-template #settings>
		<form class="profile-settings__menu" (ngSubmit)="submit()">
			<div class="profile-settings__menu_item" *ngFor="let item of settingsList; let i = index">
				<mat-icon>{{ item.icon }}</mat-icon>
				<div class="profile-settings__menu_item_title" (click)="[onSelect(item), toggle = !toggle]" 
				[class.selected]="item === selectedItem">{{ item.title }}</div>
				<div *ngIf="toggle && selectedItem.id == i+1">
					<mat-form-field appearance="fill">
					    <input matInput type="text" id={{item.id}} value={{item.description}} #input>
						<!-- <textarea name="" id="" cols="30" rows="10" value={{item.description}}></textarea> -->
			        </mat-form-field>
					<button mat-raised-button color="primary" (click)="addToFormData(input)">V</button>
				    <button mat-raised-button color="warn" (click)="toggle = !toggle">X</button>
				</div>
			</div>
		    <div class="profile-settings__menu_item">
				<mat-icon>{{ help.icon }}</mat-icon>
				<div class="profile-settings__menu_item_title">{{ help.title }}</div>
			</div>
			<button mat-raised-button color="primary" type="submit">Save Changes</button>
		</form>
	</ng-template>
	
	<div class="profile-settings__footer">
		WB School Chat
	</div>
</div>