$mobile-width: 495px;

.container {
  margin: 0 auto;
  padding: 0 41px 92px;
  width: 100%;
}

.notifications__null {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  top: 45px;
}

.notification {
  position: relative;

  display: flex;

  min-height: 50px;
  align-items: center;
  padding: 33px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.notification:last-child {
  border-bottom: 0;
  padding: 33px 0 0;
}

.notification__container__icon-clear {
  display: flex;
  justify-content: end;

  width: 100%;
}

.notification__icon-clear {
  position: relative;
  left: 40px;
}

.notification__icon-bell {
  color: black;
  font-size: 35px;
  margin-right: 42.5px;
  padding-bottom: 30px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.notification__text {
  width: 1011px;

  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.notification__container__icon-x {
  padding-bottom: 36px;
}

