.nav {
  background-color: rgba(26, 102, 255, 1);
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;

  .nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 80%;
  }

  .nav__list-link {
    color: #fff;
  }

  .nav__list-item {
    margin: 0 9%;
  }

  .material-icons {
    font-size: 40px;

  }

  .mat-icon:hover {
    color: chartreuse;
  }

  .nav__img {
    margin-left: 3%;
    width: 60px;
    height: 60px;
  }

  .nav__svg {
    height: 40px;
    padding-top: 0.5%;
  }

  @media (max-device-width: 768px) {
    height: 50px;
    .nav__img {
      height: 30px;
      width: 30px;
    }
    .material-icons {
      font-size: 25px;
      margin-top: 5px;
    }
    .nav__svg {
      height: 25px;
    }
    .nav__list-item{
      margin: 0 8%;
    }
  }

  @media (max-device-width: 425px) {
    .nav__list-item {
      margin: 0 6%;
    }
    .nav__svg {
      margin-right: 4%;
    }
  }
  @media (max-device-width: 320px) {
    .nav__list {
      padding-left: 10px;
    }
    .nav__svg {
      padding-top: 5px;
    }
    .nav__list-item{
      margin: 0 6%;
    }
  }
}



