<nav class="nav">
  <img src="../../assets/ava.svg" alt="avatar" class="nav__img" width="60" height="60"/>
  <ul class="nav__list">
    <li class="nav__list-item"><a routerLink="./home" class="nav__list-link">
      <mat-icon>home_none</mat-icon>
    </a></li>
    <li class="nav__list-item"><a routerLink="./chat" class="nav__list-link">
      <mat-icon>message</mat-icon>
    </a></li>
    <li class="nav__list-item"><a routerLink="./alerts" class="nav__list-link">
      <mat-icon>notifications_none</mat-icon>
    </a></li>
    <li class="nav__list-item"><a routerLink="./profile" class="nav__list-link">
      <mat-icon>settings</mat-icon>
    </a></li>
    <li class="nav__list-item"><a href="" class="nav__list-link">
      <mat-icon (click)="logout()">exit_to_app</mat-icon>
    </a></li>
  </ul>
</nav>
