<form class="form__container" [formGroup]="feedbackForm">
    <h2>Feedback</h2>
    <p>You can leave your comments here</p>
    <button class="close" mat-dialog-close ><mat-icon>close</mat-icon></button>
    <div class="form__wrapper">
        <div class="name">
            <label for=""><small>Имя</small><mat-icon class="user">account_circle</mat-icon></label>
            <input type="text" formControlName="nameUser">
        </div>
        <div class="email">
            <label><small>Email-адрес</small><mat-icon class="email">alternate_email</mat-icon></label>
            <input type="email" formControlName="emailUser" required>
        </div>
    </div>
    <div class="comment">
        <label>Сообщение (не менее 10 символов)</label>
        <textarea name=""   cols="30" rows="10" formControlName="textUser" required></textarea>
    </div>
    <div class="send-img">
        <label for="" *ngIf="imageName">{{imageName}}</label>
        <input class="inp-file" type="file" id="fileElem" multiple accept="image/*" (change)="onImgAdd($event)" #input>
    </div>
    <button (click)="sendFeedBack()" [class]="feedbackForm.valid ? 'send-feedback--active' : 'send-feedback'" [disabled]="feedbackForm.invalid">
        <small> Отправить</small> 
        <mat-icon>send</mat-icon>
    </button>
</form>
