<section class="home-page__wrapper">
  <h2 class="visually-hidden">Home: groups, friends, threads</h2>
  <!--TO DO: Блоки компонентов временно будут обозначены div.
    При вставке заменить своим тегом, оставив класс-->
  <app-search class="home-page__search main-grid-block"></app-search>
  <app-groups class="home-page__groups main-grid-block">Groups</app-groups>
  <app-unread class="home-page__recents main-grid-block">Unread</app-unread>
  <app-friends class="home-page__friends main-grid-block">Friends</app-friends>
  <app-threads class="home-page__threads main-grid-block">Threads</app-threads>
</section>
