html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$main-background: #EAEAEA;
$main-blue: #1A66FF;

body {
  background-color: $main-background;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.25);
}

*::-webkit-scrollbar-thumb {
  background-color: $main-blue;
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.auth {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 400px;
  padding: 20px;

 background-color:aliceblue;
  box-shadow: 1px 2px 4px rgb(177, 151, 229);
  border-radius: 20px;
}

@media(max-width: 425px) {
  .auth {
    margin-top: 20px;
    width: 300px;
    padding: 15px;
  }
}

.modal-help .mat-dialog-container{
	background-color: white;
	color: black;
	border-radius: 20px;
}

.delete-modal .mat-dialog-container{
  background-color: white;
	color: black;
	border-radius: 20px;
}

.password-modal .mat-dialog-container{
  background-color: white;
	color: black;
	border-radius: 20px;
}

.create-group-chat-modal {
  .mat-dialog-container {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
  }

  .mat-dialog-content {
    height: 42vh;
  }

  .modal__field {
    .mat-form-field-flex {
      background-color: #f1f1f1;
    }

    .mat-form-field-label {
      color: rgb(185, 181, 181);
    }

    .mat-select-arrow {
      color: #1A66FF;
    }

    .mat-select-value {
      color: #000;
    }
  }
}

.modal__select.mat-select-panel {
  background-color: #fff;

  .mat-pseudo-checkbox {
    color: #000;
  }

  .mat-option:hover {
    background: #e9e8e8;
  }
}

.modal__field.mat-focused .mat-form-field-ripple {
  background-color: #1A66FF;
}

.modal__field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #f44336;
}