/*Переменные*/
$main-background: #EAEAEA;
$block-background: #ffffff;
$main-blue: #1A66FF;
$grid-block-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
$grid-block-header-color: #000000;
$main-font: 'Raleway',
'Arial',
sans-serif;


/* Font */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Raleway"),
    url("../src/assets/fonts/Raleway-Medium.woff2") format("woff2"),
    url("../src/assets/fonts/Raleway-Medium.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Raleway"),
    url("../src/assets/fonts/Raleway-SemiBold.woff2") format("woff2"),
    url("../src/assets/fonts/Raleway-SemiBold.woff") format("woff");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $main-background;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

input::placeholder,
mat-label,
.mat-typography h3,
.mat-typography h1 {
  font-family: $main-font;
}

.mat-raised-button {
  display: block;
  margin: 0 auto;
  width: 250px;
  font-family: $main-font;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.25);
}

*::-webkit-scrollbar-thumb {
  background-color: $main-blue;
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Общие блоки на всех страницах*/
.main-grid-block {
  padding: 20px;
  margin: 0 auto;
  background: $block-background;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  font-family: $main-font;
  overflow: hidden;

  &__header {
    margin: 0;
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $grid-block-header-color;
  }

  &__more-button {
    color: #1A66FF;
  }
}

/**/
.auth {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 400px;
}

@media(max-width: 425px) {
  .auth {
    margin-top: 20px;
    width: 300px;
    padding: 15px;
  }
}

.modal-help .mat-dialog-container {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.delete-modal .mat-dialog-container {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.password-modal .mat-dialog-container {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.create-group-chat-modal {
  .mat-dialog-container {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
  }

  .mat-dialog-content {
    height: 42vh;
  }

  .modal__field {
    .mat-form-field-flex {
      background-color: #f1f1f1;
    }

    .mat-form-field-label {
      color: rgb(185, 181, 181);
    }
  }
}
