<section class="threads" #threads>
  <header class="threads__header-wrapper">
    <h3 class="threads__header main-grid-block__header">Threads</h3>
    <a class="threads__more-button" (click)="closeThreadComponent()" >
      <mat-icon>close</mat-icon>
    </a>
  </header>
  <p class="threads__is-no-threads" *ngIf="!thread">Click on a message in chat to start a thread.</p>

  <div class="threads__item" *ngIf="thread">
    <div class="threads__owner" [ngClass]="{threads__online:thread.isActive}">
      <img class="threads__thumbnail" src="{{thread.ownerThumbnail? thread.ownerThumbnail: '../../assets/image-not-found.jpg'}}" alt="Your best thread face" width="52"
        height="52">
      <p class="threads__name">{{thread.ownerName}}
        <span class="threads__online-status">{{thread.isActive? 'Online' : 'Offline'}}</span>
      </p>
    </div>
    <div class="threads__item-post" *ngIf="separateTheLink(thread.basicPost.text!) as basicPostObj">
      <p class="threads__post-date">{{thread.basicPost.date}}</p>
      <img *ngIf="basicPostObj.url" class="threads__main-img" src="{{basicPostObj.url}}" alt="Meme">
      <p class="threads__main-text">{{basicPostObj.text? basicPostObj.text : 'No text here (temporary message)'}}</p>
    </div>
    <div class="threads__comments-wrapper">
      <p class="threads__comment-text" *ngIf="thread.comments.length !== 0">No comments was found</p>
      <ul class="threads__comments" #wrapper>
        <li class="threads__comment" *ngFor="let comment of thread.comments; index as i;">
          <div class="threads__comment-header">
            <p class="threads__comment-author">{{comment.authorName}}</p>
            <p class="threads__comment-date">{{comment!.post!.date!}}</p>
          </div>
          <p class="threads__comment-text">{{comment!.post!.text!}}</p>
        </li>
      </ul>
    </div>
  </div>

  <form class="message__send">
    <div>
      <div class="form_save_image" *ngIf="toggle">
        <input class="inp-file" type="file" id="fileElem" multiple accept="image/*" (change)="onImgAdd()" #input>
        <label for="fileElem" class="btn-add" [ngClass]="{'btn-add__active': imgInput == true}">
          {{ !imgInput ? "Выберите файл" : "Файл выбран" }}
        </label>

        <div class="btn-wrapper">
          <button type="button" class="btn-green" (click)="greenBtnClick(input)">V</button>
          <button type="button" class="btn-red" (click)="redBtnClick()">X</button>
        </div>
      </div>
    </div>
    <div class="wrapper__send">
      <div (click)="toggle =!toggle">
        <mat-icon class="btn" width="14px" height="13px"> attach_file</mat-icon>
      </div>
      <input type="text" placeholder="Comment..." [formControl]="commentControl" (keydown.enter)="sendComments()">
      <mat-icon class="smile" width="15px" height="15px">tag_faces</mat-icon>
      <!-- <mat-icon class="photo" width="19px" height="15px">photo_camera</mat-icon> -->
      <mat-icon class="voice" width="45px" height="45px">mic</mat-icon>
    </div>
  </form>
</section>
