/*Break-points*/
$min-width: 320px;
$mobile-width: 495px;
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width: 1440px;

$main-text-color: #000000;
$box-shadow: rgba(0, 0, 0, 0.25);
$background-color: #FFFFFF;
$last-message-color: rgba(77, 77, 77, 0.75);
$last-active-color: rgba(0, 0, 0, 0.5);
$divider: rgba(0, 0, 0, 0.25);
$thumbnail-size: 52px;
$main-blue: #1A66FF;

.threads {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  * {
    box-sizing: border-box;
  }

  &__is-no-threads {
    margin: 0;
    width: 100%;
  }
}

.threads__header {
  margin-bottom: 15px;
}

.threads__more-button {
  color: $main-blue;
}

.threads__more-button:hover {
  opacity: 0.7;
}

.threads__list {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  max-height: 100%;
  
  @media (min-width: $desktop-width) {
    max-height: 100%;
    overflow-y: hidden;
  }
}

.threads__item {
  padding: 15px 10px 15px 0;
  min-height: 72px;
  max-height: fit-content;
  position: relative;

  .threads__item-post {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(77, 77, 77, 0.75);

    .threads__post-date {
      margin: 0;
      text-align: right;
      width: 100%;
      padding-right: 5px
    }

    .threads__main-img {
      border-radius: 20px;
      max-width: 100%;
    }

    .threads__main-text {
      padding: 10px 5px;
      margin: 0;
    }
  }
}

.threads__item::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  right: 7%;
  width: 86%;
  height: 2px;
  background-color: $divider;
}

.threads__item:last-of-type::after {
  display: none;
}

.threads__thumbnail {
  border-radius: 50%;
  border: 2px solid $divider;
}

.threads__owner {
  position: relative;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.threads__online::after {
  display: block;
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 17px;
  left: 35px;
  background: #00FF75;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.threads__name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $main-text-color;

  .threads__online-status {
    display: block;
    font-weight: 400;
    color: $last-active-color;
  }
}

.threads__comments-wrapper {
  padding-left: 20px;
}

.threads__comments {
  padding: 0;
  list-style: none;
}

.threads__comment {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: rgba(77, 77, 77, 0.75);

  .threads__comment-header {
    display: flex;
    justify-content: space-between;

    .threads__comment-date {
      margin: 0;
    }

    .threads__comment-author {
      margin: 0;
      text-decoration: underline;
    }
  }
}
