<div class="main__wrapper">
  <header class="main__header">
    <app-navbar></app-navbar>
  </header>
  <main class="main__content">
    <router-outlet></router-outlet>
  </main>
  <footer class="main__footer">
    <div class="footer__language">
      <mat-icon>language</mat-icon>
      <select>
        <option value="">ENG</option>
        <option value="">RUS</option>
      </select>
    </div>
    <hr>
    <a class="copyright" routerLink="/gang"><mat-icon>copyright</mat-icon>WB First Grade Gang, 2022</a>
    <hr>
    <div class="footer__btn">
      <button><mat-icon>share</mat-icon></button>
      <button><mat-icon>settings</mat-icon></button>
      <button (click)="sendFeedBack()"><mat-icon>headset_mic</mat-icon></button>
      <button (click)="gitHub()"><img src="../../assets/github.svg"></button>
    </div>
  </footer>
</div>
