<div class="main__wrapper">
  <header class="main__header">
    <app-navbar></app-navbar>
  </header>
  <main class="main__content">
    <router-outlet></router-outlet>
  </main>
  <footer class="main__footer">
    <p class="copyright">WB First Grade Gang, 2022</p>
    <div class="footer__btn">
      <button><mat-icon>share</mat-icon></button>
      <button><mat-icon> place</mat-icon></button>
      <button (click)="sendFeedBack()"><mat-icon>headset_mic</mat-icon></button>
      <button><mat-icon>android</mat-icon></button>
    </div>
  </footer>
</div>
