<section class="recents">
  <h3 class="recents__header">Recents</h3>
  <a href="" class="recents__more-button">
    <mat-icon>more_vert</mat-icon>
  </a>
  <ul class="recents__list">
    <li class="recents__item" *ngFor="let recent of recentList; index as i;">
      <a href="" class="recents__chat-link">
        <div class="recents__online" [ngClass]="{recents__online:recent.isActive}">
          <img class="recents__thumbnail" src="{{recent.thumbnail}}" alt="Your best friend face" width="70" height="70">
        </div>
        <div class="recents__item-text">
          <b class="recents__name">{{recent.name}}</b>
          <p class="recents__last-active">{{recent.lastActive}}</p>
          <p class="recents__last-message">
            <span class="recents__last-message-text">{{recent.lastMessage}}</span>
            <span class="recents__new-messages"
              *ngIf="recent.newMessages&&recent.newMessages!==0">{{recent.newMessages}}</span>
            <mat-icon class="recents__read-status" [ngClass]="{'recents__read-status--read':recent.isRead}">done_all</mat-icon>
          </p>
        </div>
      </a>
    </li>
  </ul>
</section>
