//Подключить шрифт глобально потом
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

$main-font: "Poppins",
Arial,
sans-serif;
$main-text-color: #000000;
$box-shadow: rgba(0, 0, 0, 0.25);
$background-color: #FFFFFF;
$last-message-color: rgba(77, 77, 77, 0.75);
$last-active-color: rgba(0, 0, 0, 0.5);
$divider: rgba(0, 0, 0, 0.25);
$thumbnail-size: 52px;



.recents {
  max-width: 445px;
  min-width: 320px;

  max-height: 90vh;
  overflow: scroll;
  padding: 20px 0;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background: $background-color;
  box-shadow: 0px 4px 4px $box-shadow;
  border-radius: 20px;

  * {
    box-sizing: border-box;
  }

}

.recents::-webkit-scrollbar {
  width: 0px;
}

.recents::-webkit-scrollbar-track {
  background-color: transparent;
}

.recents::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.recents__header {
  padding: 0 16px;
  margin-bottom: 15px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: $main-text-color;
}

.recents__more-button:hover {
  opacity: 0.7;
}

.recents__list {
  width: 100%;
  padding: 0;

}

.recents__item {
  min-height: 72px;
  max-height: fit-content;

  display: flex;

  height: fit-content;


  .recents__item-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
  }

  //Костыль для материала
  .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: 0px;
    bottom: 0px;
  }

  .mat-list-avatar {
    width: 52px;
    height: 52px;
    margin-right: 10px;
  }

}

.recents__item:last-of-type {
  border: none;
}

.recents__chat-link {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 10px;
  text-decoration: none;
  border-bottom: 1px solid $divider;
}

.recents__chat-link:hover {
  opacity: 0.7;
}

.recents__thumbnail {
  border-radius: 50%;
  position: relative;
}

.recents__thumbnail--active::before {
  content: "meow";
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;

  background: #00FF75;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.recents__name {
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $main-text-color;
}

.recents__last-message {
  margin: 0;
  width: 100%;
  overflow: hidden;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $last-message-color;
}

.recents__last-active {
  margin: 0;
  max-width: 100px;
  overflow: hidden;
  font-family: $main-font;
  text-align: right;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: $last-active-color;
}
