<section class="recents">
  <h3 class="recents__header">Recents</h3>
  <a href="" class="recents__more-button">
    <mat-icon>more_vert</mat-icon>
  </a>
  <ul class="recents__list">
    <li class="recents__item" *ngFor="let recent of recentList; index as i;">
      <a href="" class="recents__chat-link">
        <div class="recents__online" [ngClass]="{recents__online:recent.isActive}">
          <img class="recents__thumbnail" src="{{recent.thumbnail}}" alt="Your best friend face"
            width="52" height="52">
        </div>
        <div class="recents__item-text">
          <b class="recents__name">{{recent.name}}</b>
          <p class="recents__last-active">{{recent.lastActive}}</p>
          <p class="recents__last-message">{{recent.lastMessage}}
            <span class="recents__message-status">{{recent.newMessages}}</span>
          </p>
        </div>
      </a>
    </li>
  </ul>
</section>
