button {
    width: 250px;
    display: block;
    margin: 0 auto;
    background: blue;
}

h3 {
    text-align: center;
    text-shadow: 2px 2px 4px gray;
    font-weight: 800;
}

mat-form-field {
    width: 360px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}

mat-hint {
    color: red;
}

mat-label {
    color: grey;
    border-bottom: 1px solid black;
}

.small  {
    text-align: center;
    margin-bottom: 5px;
    color: grey;
}

@media(max-width: 425px) {
    mat-form-field {
        width: 260px;
    }
    button {
        width: 200px;
    }
}