.auth__header {
  padding: 20px 0 10px;
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

mat-form-field {
    width: 360px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
}

mat-hint {
    color: red;
}

input::placeholder {
    color: grey;
}

mat-label {
    color: grey;
    border-bottom: 1px solid black;
}

.mat-raised-button {
  display: block;
  margin: 0 auto;
}

.small  {
    text-align: center;
    margin-bottom: 5px;
    color: grey;
}

@media(max-width: 425px) {
    mat-form-field {
        width: 260px;
    }
    button {
        width: 200px;
    }
}

.form-error {
    color: red;
}
