<div class="profile">
	<div class="profile__title">
	  <span>
		{{ userData.username }}'s Profile
	  </span>
	</div>
	<div class="profile__user-info">
	  <div class="profile__user-info_img">
		<img  *ngIf="!!userData.avatar"  [src]="userData.formatImage+userData.avatar" alt="user pic" />
	  </div>
	  <div class="profile__user-info_name" >
		<span class="profile__user-info_name_username">
		  	{{ userData.username }}
		</span>
	  </div>
	</div>
	<div class="profile__line"></div>
	<div class="profile__menu">
		<div class="profile__menu_item">
			<div class="profile__menu_item_name">
				<mat-icon> email </mat-icon>
				<div class="profile__menu_item_title">
					Email: {{ userData.email }}
				</div>
			</div>
		</div>	
		<div class="profile__menu_item">
			<div class="profile__menu_item_name">
				<mat-icon> description </mat-icon>
				<div class="profile__menu_item_title about">
					About: 
					<div class="profile__menu_item_title_about">{{ userData.about }}</div>
				</div>
			</div>
		</div>
		<div class="profile__menu_item">
			<div class="profile__menu_item_name">
				<mat-icon> admin_panel_settings </mat-icon>
				<div class="profile__menu_item_title">
					Rights: {{ userData.userRights }}
				</div>
			</div>
		</div>
		<div class="profile__menu_item">
			<button mat-raised-button color="primary" (click)="goToChat(userData._id)">Chat</button>
			<button mat-raised-button color="warn" (click)="deleteContact(userData._id)">Delete Contact</button>
		</div>
	</div>
	<div class="profile__footer">WB School Chat</div>
  </div>