.profile {
	background: #FFFFFF;
	border-radius: 20px;
	width: 400px;
	transition: 0.5s;
	position: relative;
	height: 100%;

	.profile__close {
		position: absolute;
		color: white;
		z-index: 10;
		right: 10px;
		top: 10px;
		text-align: center;
		border-radius: 14px;
		align-self: right;
		background: red;
		width: 28px;
		height: 28px;
		line-height: 30px;
		font-size: 30px;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			background: rgb(100, 0, 0);
			transform: scale(1.1)
		}
	}

	.profile__title {
		padding: 26px 0 0 39px;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
	}

	.profile__user-info {
		margin: 0;
		display: flex;
		flex-direction: column;

		.profile__user-info_img {
			height: 150px;
			width: 100%;
			cursor: pointer;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				mask-image: linear-gradient(180deg, #000 60%, transparent);
			}
		}

		.profile__user-info_name {
			margin: auto 10px auto 31px;
			display: flex;
			flex-direction: column;
			width: calc(100% - 41px);
			max-width: calc(100vw - 188px);
			transition: 0.5s;

			.profile__user-info_name_username {
				font-style: normal;
				font-weight: 600;
				font-size: 25px;
				line-height: 38px;
				text-overflow: clip;
				overflow: hidden;
				text-overflow: ellipsis " [..]";
				word-break: break-all;
			}
		}
	}

	.profile__contact-btns {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		transition: 0.5s;

		.profile__contact-btns_chat {
			width: 45%;

			button {
				width: 100%;
				height: 40px;
				border: none;
				background: blue;
				color: white;
				transition: 0.4s;
				cursor: pointer;

				&:hover {
					background: rgb(0, 0, 147);
				}

				&:active {
					background: rgb(61, 61, 144);
				}
			}
		}

		.profile__contact-btns_add {
			width: 45%;

			button {
				width: 100%;
				height: 40px;
				border: none;
				background: rgb(21, 255, 0);
				color: white;
				transition: 0.4s;
				cursor: pointer;

				&:hover {
					background: rgb(13, 150, 0);
				}

				&:active {
					background: rgb(56, 130, 49);
				}
			}
		}

		.profile__contact-btns_delete {
			width: 45%;

			button {
				width: 100%;
				height: 40px;
				border: none;
				background: red;
				color: white;
				transition: 0.4s;
				cursor: pointer;

				&:hover {
					background: rgb(115, 0, 0);
				}

				&:active {
					background: rgb(144, 56, 56);
				}
			}
		}
	}

	.profile__line {
		margin: 29px 40px 1px;
		border: 1px solid rgba(0, 0, 0, 0.25);
		width: calc(100% - 80px);
	}

	.profile__menu {
		margin: 60px 20px 25px 30px;
		display: flex;
		flex-direction: column;
		transition: 0.5s;

		.profile__menu_item {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			min-height: 30px;
			flex-wrap: wrap;
			margin-bottom: 39px;
			cursor: pointer;

			.profile__menu_item_name {
				display: flex;
				flex-direction: row;
			}

			mat-icon {
				font-size: 30px;
				margin-right: 20px;
			}

			.profile__menu_item_title {
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 30px;
				display: flex;
				flex-direction: column;

				.profile__menu_item_title_about {
					width: 100%;
				}
			}

			&:hover {
				.profile__menu_item_title {
					font-style: normal;
					font-weight: 600;
					font-size: 20px;
					line-height: 30px;

					.profile__menu_item_title_about {
						font-weight: 400;
					}
				}
			}
		}

		@media (max-width: 460px) {
			margin-left: 40px;
		}

		@media (max-width: 390px) {
			margin-left: 30px;
		}

		@media (max-width: 330px) {
			margin-left: 20px;
		}
	}

	.profile__footer {
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		color: rgba(0, 0, 0, 0.5);
		margin: 0 auto 38px;
		text-align: center;
	}

	@media (max-width: 450px) {
		width: 300px;
	}

	@media (max-width: 350px) {
		width: 250px;
	}
}

.full_img {
	height: 100%!important;
	transition: 0.5s;
	
	img {
		height: 110%!important;
		object-fit: cover!important;
		mask-image: none!important;
	}
}

.displayZeroClass {
	display: none!important;
	
	transition: 0.5s;
}