<div class="profile">
	<div class="profile__close" (click)="dialogRef.close()">
		<mat-icon>close</mat-icon>
	</div>
	<div class="profile__user-info">
		<div class="profile__user-info_img"  (click)="openImg()" [ngClass]="{'full_img': hideData}">
			<img  *ngIf="!!userData.avatar"  [src]="userData.formatImage+userData.avatar" alt="user pic" />
		</div>
		<div class="profile__user-info_name" [ngClass]="{'displayZeroClass': hideData}">
			<span class="profile__user-info_name_username">
				{{ userData.username }}
			</span>
		</div>
	</div>
	<div class="profile__contact-btns" [ngClass]="{'displayZeroClass': hideData}">
		<div class="profile__contact-btns_chat" (click)="goToChat(userData._id)">
			<button>
				<mat-icon>chat</mat-icon>
			</button>
		</div>
		<div *ngIf="friendStatus == undefined; else addFriend" 
			 class="profile__contact-btns_add">
			<button>
				<mat-icon>person_add</mat-icon>
			</button>
		</div>
		<ng-template #addFriend>
			<div class="profile__contact-btns_delete"
			(click)="deleteContact(userData._id)">
				<button>
					<mat-icon>person_remove</mat-icon>
				</button>
		</div>
		</ng-template>
	</div>
	<div class="profile__menu" [ngClass]="{'displayZeroClass': hideData}">
		<div class="profile__menu_item">
			<div class="profile__menu_item_name">
				<mat-icon> description </mat-icon>
				<div class="profile__menu_item_title about">
					About: 
					<div class="profile__menu_item_title_about">{{ userData.about }}</div>
				</div>
			</div>
		</div>
	</div>
  </div>