.modal {
  width: 600px;
  max-width: 100%;

  &__title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  
  &__form {
    width: 100%;
  }
  
  &__field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  &__input {
    &::placeholder {
      color: rgb(185, 181, 181);
    }
  }

  &__textarea {
    min-height: 50px;

    &::placeholder {
      color: rgb(185, 181, 181);
    }
  }

  &__err {
    color: #f44336;
    font-family: "Poppins", sans-serif;
  }

  &__btn {
    color: #fff;
    font-family: "Poppins", sans-serif;
    background-color: #1A66FF;
 
    &--warn {
      background-color: #f44336;
    }
  }

  &__input-file {
    display: none;
  }

  &__upload {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    cursor: pointer;
    background-color: #1A66FF;
    color: #fff;
    border-radius: 4px;
    padding: 6px;
  }

  &__image-name {
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
    word-break: break-all;
  }

  &__option {
    color: #000;
  }
}