<div class="modal">
    <h1 class="modal__title" mat-dialog-title>Create new group chat</h1>
    <mat-dialog-content>
        <form [formGroup]="form" class="modal__form">
            <p class="modal__err" *ngIf="errMessage$ | async as err">{{err}}</p>

            <mat-form-field appearance="fill" class="modal__field">
                <mat-label>Group chat name</mat-label>
                <input class="modal__input" matInput placeholder="Chat" formControlName="name">
                <mat-error *ngIf="form.get('name')?.getError('required')">
                    Enter group chat name</mat-error>
                <mat-error
                    *ngIf="form.get('name')?.getError('minlength') || form.get('name')?.getError('maxlength') || form.get('name')?.hasError('manySpaces')">
                    Name must be between 4 and 40 characters</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="modal__field">
                <mat-label>About group chat</mat-label>
                <textarea class="modal__textarea" matInput placeholder="Chat for programming"
                    formControlName="about"></textarea>
                <mat-error
                    *ngIf="form.get('about')?.getError('minlength') || form.get('about')?.getError('maxlength') || form.get('about')?.hasError('manySpaces')">
                    About chat must be between 4 and 100 characters</mat-error>
            </mat-form-field>

            <!-- <mat-form-field appearance="fill" class="modal__field">
                <mat-label>Add users</mat-label>
                <mat-select [formControl]="contacts" disableOptionCentering multiple panelClass="modal__select">
                    <mat-option *ngFor="let contact of contactsList" [value]="contact" class="modal__option">
                        <div class="modal__contact">
                            <img class="modal__avatar" [src]="'data:image/png;base64,' + contact.avatar">
                            <span class="modal__username">{{contact.username}}</span>
                        </div>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('users')?.getError('required') || form.get('users')?.getError('minlength')">
                    You must add at least two users</mat-error>
            </mat-form-field> -->

            <mat-form-field class="modal__field" appearance="fill">
                <mat-label>Add users</mat-label>
                <mat-chip-list #contacts>
                    <mat-chip *ngFor="let contact of contactsToGroup" (removed)="remove(contact)">
                        {{contact.username}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="Add user to group chat" #contactsInput [formControl]="contactsControl"
                        [matAutocomplete]="auto" [matChipInputFor]="contacts"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let contact of filteredContacts | async" [value]="contact">
                        {{contact.username}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="form.get('users')?.getError('required') || form.get('users')?.getError('minlength')">
                    You must add at least two users</mat-error>
            </mat-form-field>
        </form>

        <input class="modal__input-file" id="file" type="file" (change)="uploadImage($event)">
        <label *ngIf="!imageInBase64" class="modal__upload" for="file">
            <mat-icon>file_upload</mat-icon>
            Upload image for your chat group
        </label>
        <button *ngIf="imageInBase64" class="modal__btn modal__btn--warn" mat-button (click)="deleteImage()">
            <mat-icon>delete</mat-icon>
            Delete image
        </button>
        <p class="modal__image-name" *ngIf="imageName">{{imageName}}</p>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button class="modal__btn modal__btn--warn" mat-button mat-dialog-close>Cancel</button>
        <button class="modal__btn" mat-button (click)="createGroupChat()" [disabled]="form.invalid">Create</button>
    </mat-dialog-actions>
</div>