<div class="modal">
    <h1 mat-dialog-title>Create new group chat</h1>
    <mat-dialog-content>
        <form [formGroup]="form" class="modal__form">
            <mat-form-field appearance="fill" class="modal__field">
                <mat-label>Group chat name</mat-label>
                <input matInput placeholder="Chat" formControlName="name">
                <mat-error *ngIf="form.get('name')?.invalid">{{getNameErrors()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="modal__field">
                <mat-label>About group chat</mat-label>
                <textarea class="modal__textarea" matInput placeholder="Chat for programming"
                    formControlName="about"></textarea>
                <mat-error *ngIf="form.get('about')?.invalid">{{getAboutErrors()}}</mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" (click)="createGroupChat()"
            [disabled]="form.invalid">Create</button>
    </mat-dialog-actions>
</div>